*, *::after, *::before {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

:root {
  --background-color: #0b1326;
  --fundo-topo-rodape: #2d3449;
  --fundo-barra-lateral: #171f33;
  --fundo-cards: #131b2e;
  
  /* Cores de Texto */
  --texto-principal: #dae2fd;
  --texto-secundario: #bdc8d1;
  --texto-botao-ativo: #00354a;
  
  /* Cores dos Botões e Ações */
  --fundo-botao-padrao: #38bdf8;
  --fundo-botao-hover: #59c8f9;
  --cor-destaque: #8ed5ff;
  
  /* Bordas e Linhas */
  --borda-divisoria: #3e484f;
  
  /* Fontes */
  --fonte-principal: 'Hanken Grotesk', sans-serif;
}

body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: var(--fonte-principal);
}

header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fundo-topo-rodape);
}    

div{
    width: 100%;
    height: 100%;
    display: flex;
}    

aside{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 10px;
    background-color: var(--fundo-barra-lateral);
    border-right: 1px solid var(--borda-divisoria);
}    

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fundo-topo-rodape);
}

/* configurações dos botões */

.btn{
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--fundo-botao-padrao);
    color: var(--texto-principal);
    font-family: var(--fonte-principal);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}    

.btn:hover {
    background-color: var(--fundo-botao-hover);
    border-color: var(--cor-destaque);
    color: var(--texto-principal);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}    

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--fundo-barra-lateral), 0 0 0 4px var(--cor-destaque);
}    

.btn:active {
  background-color: var(--cor-destaque);  
  color: var(--texto-botao-ativo);
}  

/* configurações de cards */

.card {
    display: none;
}

.ativo {
    width: 90%;
    height: 90%;
    border: 1px solid var(--borda-divisoria);
    background-color: var(--fundo-cards);
    border-radius: 8px;
    padding: 24px;
    color: var(--texto-principal);
}

/* conficuração section do imc */

#calculo-imc{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    height: 90%;
    border: 1px solid var(--borda-divisoria);
    background-color: var(--fundo-cards);
    border-radius: 8px;
    padding: 24px;
    color: var(--texto-principal);
}

#calculo-imc .resultado{
    width: 90%;
    height: 40%;
}    

#calculo-imc form{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--texto-secundario);
    gap: 5px;
}

#calculo-imc  button{

    text-align: left;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: var(--fundo-botao-padrao);
    color: var(--texto-principal);
    font-family: var(--fonte-principal);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;font-weight: 600;
    cursor: pointer;
}

#calculo-imc button:active{
    background-color: var(--cor-destaque);  
    color: var(--texto-botao-ativo);
}

#calculo-imc h1{
    border-bottom: 1px solid var(--borda-divisoria);
    display: flex;
    justify-content: center;
}

#peso{
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--borda-divisoria);
}

#altura{
    padding: 5px;
    border-radius: 15px;
    border: 2px solid var(--borda-divisoria);
}

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}