*, *::after, *::before {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-hanken);
}

:root {
  --background: #0b1326;
  --on-surface: #dae2fd;
  --on-surface-variant: #bdc8d1;
  --surface-container-highest: #2d3449;
  --surface-container: #171f33;
  --surface-container-low: #131b2e;
  
  --primary-container: #38bdf8;
  --primary: #8ed5ff;
  --on-primary: #00354a;
  --btn-hover-bg: #59c8f9;
  
  --outline-variant: #3e484f;
  
  --margin-desktop: 48px;
  --gutter: 16px;
  
  --font-hanken: 'Hanken Grotesk', sans-serif;
}

body{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    font-family: var(--font-hanken);
}

header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-container-highest);
}

div{
    width: 100%;
    height: 100%;
    display: flex;
}

aside{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 10px;
    background-color: var(--surface-container);
    border-right: 1px solid var(--outline-variant);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 8%;
    text-decoration: none;
    color: var(--on-surface);
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
  display: none;
}

.ativo {
  width: 90%;
  height: 90%;
  border: 1px solid var(--outline-variant);
  background-color: var(--surface-container-low);
  border-radius: 8px;
  padding: 24px;
  color: var(--on-surface);
}

#calculo-imc form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer{
    width: 100%;
    height: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--surface-container-highest);
}